{% extends 'base.html' %}

{% block app_content %}
<div class="row">
    <h1>User List</h1>
</div>
<nav class="nav nav-justified nav-tabs" id="users-tab" role="tablist">
    <a href="#enabled" id="enabled-tab" class="nav-item nav-link active" data-toggle="tab" role="tab" aria-controls="enabled" aria-selected="true">Enabled</a>
    <a href="#disabled" id="disabled-tab" class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="disabled" aria-selected="false">Disabled</a>
    <a href="#other" id="other-tab" class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="other" aria-selected="other">Other</a>
</nav>
<div class="tab-content border-right border-bottom border-left" id="users-tabContent" style="padding: 10px;">
    <div class="container tab-pane fade show active" id="enabled" role="tabpanel" aria-labelledby="enabled-tab">
        {% for u in users['enabled users'] %}
        <div class="row border" style="padding: 10px; margin-bottom: 10px;">
            <div class="col-8">
                <ul>
                    <li>Name: {{u.full_name}}</li>
                    <li>Username: {{u.username}}</li>
                    <li>Location: {{u.location}}</li>
                    <li>Account Status: <span style="color:green">Enabled</span></li>
                    <li>DN: {{u.dn}}</li>
                </ul>
            </div>
            <div class="col-4 text-center">
                <span class="align-middle">
                <a href="{{url_for('employees.suspend_user', username=u.username)}}" class="btn btn-danger">Disable User</a><br>
                <a href="{{url_for('employees.password_reset', username=u.username)}}" class="btn btn-info">Reset Password</a><br>
                <a href="{{url_for('employees.unlock_account', username=u.username)}}" class="btn btn-info">Unlock Account</a>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="container tab-pane fade" id="disabled" role="tabpanel" aria-labelledby="disabled-tab">
        {% for u in users['disabled users'] %}
        <div class="row border" style="padding: 10px; margin-bottom: 10px;">
            <div class="col-8">
                <ul>
                    <li>Name: {{u.full_name}}</li>
                    <li>Username: {{u.username}}</li>
                    <li>Location: {{u.location}}</li>
                    <li>Account Status: <span style="color:red">Disabled</span></li>
                    <li>DN: {{u.dn}}</li>
                </ul>
            </div>
            <div class="col-4 text-center">
                <span class="align-middle">
                <a href="{{url_for('employees.enable_user', username=u.username)}}" class="btn btn-success">Enable User</a><br>
                <a href="{{url_for('employees.password_reset', username=u.username)}}" class="btn btn-info">Reset Password</a><br>
                <a href="{{url_for('employees.unlock_account', username=u.username)}}" class="btn btn-info">Unlock Account</a>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
        {% for u in users['other users'] %}
        <div class="row border" style="padding: 10px; margin-bottom: 10px;">
            <div class="col-8">
                <ul>
                    <li>Name: {{u.full_name}}</li>
                    <li>Username: {{u.username}}</li>
                    <li>Location: {{u.location}}</li>
                    <li>Account Status: {{u.user_account_control}}</li>
                    <li>DN: {{u.dn}}</li>
                </ul>
            </div>
            <div class="col-4 text-center">
                <span class="align-middle">
                <a href="{{url_for('employees.suspend_user', username=u.username)}}" class="btn btn-danger">Disable User</a><br>
                <a href="{{url_for('employees.enable_user', username=u.username)}}" class="btn btn-success">Enable User</a><br>
                <a href="{{url_for('employees.password_reset', username=u.username)}}" class="btn btn-info">Reset Password</a><br>
                <a href="{{url_for('employees.unlock_account', username=u.username)}}" class="btn btn-info">Unlock Account</a>
                </span>
            </div>
        </div>
        {% endfor %}        
    </div>

</div>
{% endblock %}