{% extends 'base.html' %}

{% block app_content %}
<div class="row">
    <h1>User List</h1>
</div>
{% for u in users %}
    <div class="row" style="border:1px solid black; margin-bottom:10px; padding:10px">
        <div class="col-8">
            <ul>
                <li>Name: {{u.full_name}}</li>
                <li>Username: {{u.username}}</li>
                <li>Account Status: 
                {% if u.user_account_control==512 %}
                <span style="color:green">Enabled</span>
                {% elif u.user_account_control==514 %}
                <span style="color:red">Disabled</span>
                {% else %}
                {{u.user_account_control}}
                {% endif %}
                </li>
                <li>DN: {{u.dn}}</li>
            </ul>
        </div>
            <div class="col-4 text-center">
                <span class="align-middle">
                {% if u.user_account_control==512 %}
                <a href="{{url_for('employees.suspend_user', username=u.username)}}" class="btn btn-danger">Disable User</a>
                {% elif u.user_account_control==514 %}
                <a href="{{url_for('employees.enable_user', username=u.username)}}" class="btn btn-success">Enable User</a>
                {% else %}
                {{u.user_account_control}}
                {% endif %}
                </span>
            </div>
        </ul>
    </div>
{% endfor %}
{% endblock %}