{% extends 'base.html' %}

{% block app_content %}
    <h1>Create a User</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.firstname.label }}<br />
            {{ form.firstname(size=32) }}
            {% for error in form.firstname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lastname.label }}<br />
            {{ form.lastname(size=32) }}
            {% for error in form.lastname.errors %}
            <span style="color: red;">[{{ error }}]
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }}<br />
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]
            {% endfor %}
        <p>
            {{ form.location.label }}<br />
            {{ form.location }}
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
{% endblock %}